.statistics__container {
  background-color: white;
  min-width: 300px;
  max-width: 950px;
  line-height: 2;
  margin: 40px auto;
  border-radius: 10px;
}

.statistics__flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 50px;
  padding-bottom: 0;
}

.statistics__pagescount p,
.statistics__bookscount p {
  background-image: url('../../assets/prazdnabublina.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 150px;
  text-align: center;
  padding: 20px;
  padding-right: 30px;
  text-align: center;
}

.statistics__motto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 10px;
  background-color: rgb(199, 192, 192);
  border-radius: 5px;
  width: 98%;
  margin: 0 auto;
}

.statistics__motto h4 {
  width: 100%;
}

.statistics__motto img {
  padding-bottom: 20px;
}

.statistics__reminder {
  padding: 20px;
}

.statistics__reminder-heading {
  color: rgb(255, 42, 127);
}

.purple {
  animation: Move 3s linear infinite;
}

.magenta {
  animation: Move 3s linear infinite;
  animation-delay: 2s;
}

.violet {
  animation: MoveUpDown 2s linear infinite;
}

.violet {
  animation: spin 2s linear;
  animation-delay: 1s;
  transform-origin:center;
  transform-box: fill-box
}

.violet:hover {
  animation: spin 2s linear;
  animation-delay: 1s;
  transform-origin:center;
  transform-box: fill-box
}

.blue {
  animation: MoveUpDown 2s linear infinite;
  animation-delay: 1s;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}

@keyframes Move {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }

  to{
    transform:rotate(360deg);
  }
}

@media screen and (min-width: 510px) {
  .statistics__flex {
    justify-content: space-between;
  }
}

@media screen and (min-width: 700px) {
  .statistics__flex {
    justify-content: space-between;
  }
  .statistics__container {
    display: flex;
  }
  .statistics__aside {
    width: 40%;
    border-left: 1px solid;
    margin: 40px auto;
  }
  .statistics__motto {
    background-color: white;
    /* box-shadow: 5px 5px 5px 5px rgb(199, 192, 192); */
  }
}

@media screen and (min-width: 850px) {
  .statistics__aside {
    width: 45%;
    margin: 65px 20px;
    border: 0;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgb(199, 192, 192);
  }

  .violet:hover {
    animation: spin 2s linear infinite;
    animation-delay: 1s;
    transform-origin:center;
    transform-box: fill-box
  }

}
