

.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
}


.menu--odkazy a{
  margin: 10px;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 26px;
  font-family: 'Bangers', sans-serif;
}

.menu--odkazy{

  margin: 30px;
  
}


.logo {
  background-image: url(assets/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 50px;
}

.hero_container {
 display: flex;
 align-items: center;
 padding:20px;
}

.hero--image {
  width:50%
}

.heroimage {
background-image: url(assets/monsterlibrary.svg);
background-size: cover;
width: 100%;
}

.hero--description {
  width: 50%;
 }

h1 {
padding: 20px;
font-size: 32px;
font-family: 'Bangers';
font-weight: 400;

}
