.container {
  margin: 50px auto;
  border-radius: 10px;
  max-width: 750px;
  padding: 50px;
  background-color: white;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 0 auto;
  position: relative;
}

.form__heading {
  font-size: 2em;
}

.form__logo {
  position: absolute;
  top: 30px;
  right: 0;
  width: 20%;
}

.form__img {
  position: absolute;
  top: 260px;
  right: 30px;
  width: 30%;
}

.short__button {
  position: absolute;
  top: 470px;
  right: 30px;
}

h2 {
  font-size: 2em;
  font-family: 'Bangers';
  font-weight: 400;
}

@media screen and (max-width: 800px) {
  .short__button {
    position: static;
    margin-top: 30px;
  }
  .form__img {
    width: 40%;
    right: 0;
    top: 320px;
  }
  .form__logo {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .form__img {
    right: 0;
    width: 40%;
  }

  .container {
    padding: 10px;
  }
}
