.container {
  margin: 50px auto;
  border-radius: 10px;
  max-width: 750px;
  padding: 50px;
  background-color: white;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 0 auto;
  position: relative;
}

.form__logo {
  position: absolute;
  top: 30px;
  right: 0;
  width: 20%;
}

.form__img {
  position: absolute;
  top: 350px;
  right: 30px;
  width: 30%;
}

@media screen and (max-width: 500px) {
  .form__img {
    right: 0;
    width: 40%;
  }

  .container {
    padding: 10px;
  }
}
