.container {
  margin: 50px auto;
  border-radius: 10px;
  max-width: 750px;
  /* padding: 50px; */
  padding: 10px;
  background-color: white;
  position: relative;
}

.form__container {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 0 auto;
}

.form__heading {
  font-size: 2em;
}

.form__logo {
  position: absolute;
  top: 30px;
  right: 0;
  width: 20%;
}

.form__img {
  position: absolute;
  top: 320px;
  right: 0;
  width: 40%;
}

.form__button--short {
  margin-top: 30px;
}

.form__button--full {
  margin-top: 30px;
  margin-bottom: 20px;
}

.form__logo {
  display: none;
}

/* .form__button--short {
  position: absolute;
  top: 470px;
  right: 30px;
}

.form__button--full {
  position: absolute;
  bottom: 0;
  right: 30px;
}

.form__button--delete {
  position: absolute;
  bottom: 0;
  left: 30px;
}
 */
h2 {
  font-size: 2em;
  font-family: 'Bangers';
  font-weight: 400;
}

@media screen and (min-width: 480px) {
  .form__logo {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .form__container {
    margin-bottom: 100px;
  }
  .form__button--short {
    position: absolute;
    top: 470px;
    right: 30px;
  }
  .form__img {
    top: 240px;
    right: 0;
    width: 40%;
  }
  .form__button--full {
    position: absolute;
    bottom: -90px;
    right: 0;
  }
  .form__button--delete {
    position: absolute;
    bottom: -70px;
    left: 0;
  }
}

/* @media screen and (max-width: 800px) {
  .short__button {
    position: static;
    margin-top: 30px;
  }
  .form__img {
    width: 40%;
    right: 0;
    top: 320px;
  }
  .form__logo {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .form__img {
    right: 0;
    width: 40%;
  }

  .container {
    padding: 10px;
  }
}
 */
