.toread__check--checked {
  background-color: rgb(60, 189, 77);
  background-image: url('../../assets/iconmonstr-check-mark-1-240.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.toread__check:hover {
  background-color: rgb(60, 189, 77);
  cursor: pointer;
}

.delete {
  background-image: url('../../assets/iconmonstr-x-mark-1-240.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 5px;
}

.delete:hover {
  background-color: red;
  cursor: pointer;
}

.toread__check {
  margin-right: 10px;
  width: 45px;
  height: 45px;
  border: 1px solid black;
  border-radius: 5px;
}

.toread__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  margin-right: 40px;
  height: 8em;
}

.toread__box:hover {
  background-color: rgb(250, 221, 241);
}

.toread__box li {
  list-style: none;
  padding: 0.8em;
}

.toread__box2 {
  display: flex;
}

@media screen and (min-width: 700px) {
  .toread__box {
    height: 4em;
  }
}
