.toread__check--checked {
  background-color: rgb(0, 212, 170);
  background-image: url('../../assets/iconmonstr-check-mark-1-240.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

.toread__check:hover {
  background-color: rgb(0, 212, 170);
  cursor: pointer;
}

.delete {
  background-image: url('../../assets/iconmonstr-x-mark-1-240.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 5px;
}

.delete:hover {
  background-color: rgb(255, 42, 127);
  cursor: pointer;
}

.toread__check {
  margin-right: 10px;
  width: 45px;
  height: 45px;
  border: 1px solid black;
  border-radius: 5px;
}

.toread__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  margin-right: 0px;
  height: 10em;
}

.toread__box:hover {
  background-color: rgb(250, 221, 241);
}

.toread__box li {
  list-style: none;
  padding: 0.8em;
}

.toread__ul {
  padding:0;
}

.toread__box2 {
  display: flex;
}

@media screen and (min-width: 700px) {
  .toread__box {
    height: 4em;
    margin: 0;
  }
  .toread__ul {
    padding:0 100px 50px 100px;
  }
  
}

@media screen and (min-width: 1024px) {
  .toread__ul {
    padding:0 200px 50px 200px;
  }
}
