.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  background-color: white;
  /* margin: -10px -10px; */
}


.menu--item {
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 2em;
  font-family: 'Bangers', sans-serif;
  text-transform: uppercase;
}

.menu--items{

  margin: 2em;
  
}


.logo {
  background-image: url(/src/assets/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 70px;
  margin: 20px;
}

.btn_login {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 20px;
  background-color: rgb(43, 43, 133);
  color: white;
  font-family:'Bangers';
  
  font-weight: 400;
  font-size: 1em;
  border-radius: 5px;
}

.btn_login:hover {
    background-color: rgb(202, 41, 148);
    box-shadow:5px 5px 5px rgb(128, 124, 124);
}