.menu {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
}


.menu--item {
  margin: 10px;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 26px;
  font-family: 'Bangers', sans-serif;
}

.menu--items{

  margin: 15px;
  
}


.logo {
  background-image: url(/src/assets/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 70px;
  margin: 10px;
}

.btn--prihlasit {
  margin: 10px;
}