.toread__container {
  background-color: white;
  padding: 8px;
  width: 80%;
  margin: 50px auto;
  border-radius: 10px;
}

.toread__text {
  padding: 20px;
}

.toread__add {
  cursor: pointer;
}

.toread__form {
  margin: 100px auto;
  margin-top: 0;
}

@media screen and (min-width: 700px) {
  .toread__text {
    padding: 20px 100px 20px 100px;
  }
}

@media screen and (min-width: 1024px) {
  .toread__text {
    padding: 20px 200px 20px 200px;
    font-size: 1.5em;
  }
}
