footer {
  background-color: #8bbbdb;
  padding: 15px;
  font-size: 1em;
  font-family: 'Bangers';
  background-color: white;
  /* justify-content: center; */
  /* margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px; */
}

.czechitas_logo {
  
  width: 120px;
  height: 50px;
}

footer p {
  margin: 1em;
}

@media (max-width: 480px) {
  
  
}

@media (min-width: 481px) {
  

}

@media (min-width: 769px) {
 


}

@media (min-width: 1025px) {

  




}

