.book__container {
  background-color: white;
  padding: 20px;
  line-height: 2;
}

.singledetail__heading--2 {
  font-size: 1.2em;
  margin-bottom: 0;
}

.singledetail__heading--1 {
  font-size: 2em;
  margin-top: 0;
}

.singledetail__name {
  font-weight: bold;
}

.singledetail__print {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .book__container {
    padding: 100px;
    padding-top: 20px;
  }
  .singledetail__container {
    display: flex;
  }
  .singledetail__name {
    width: 30%;
    margin-right: 20px;
  }
  .singledetail__item {
    width: 65%;
  }
  .singledetail__print {
    margin-top: 80px;
  }
}
