.homepage__container {
  background-color: white;
}

.hero__container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-bottom: 100px;
}

.hero__image {
  width: 90%;
}

.hero__monster {
  max-width: 90%;
  margin-bottom: 30px;
}

.hero__link {
  text-decoration: none;
}

.hero__description {
  width: 90%;
  text-align: center;
}

h1 {
  font-size: 1.3em;
  font-family: 'Bangers';
  font-weight: 400;
  letter-spacing: 2px;
}



@media screen and (min-width: 500px) {
  h1 {
    padding-top: 5px;
    font-size: 2em;
  }

  button {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 800px) {
  .hero__container {
    flex-direction: row;
    padding-bottom: 50px;
  }
  
  h1 {
    padding-top: 5px;
    font-size: 3em;
  }

  .hero__image {
    width: 50%;
  }

  .hero__description {
    width: 50%;
    text-align: center;
  }

}
