.homepage_container {
  background-color: white;
}

.hero_container {
 
 display: flex;
 flex-direction: column-reverse;
 align-items: center;
 
}

.hero--image {
  width: 50%;
  padding-left: 40px;
}

.hero--monster {
  max-width: 90%;
}


.hero--description {
  width: 50%;
  text-align: center;
  padding: 20px;
 }

h1 {
font-size: 1.3em;
font-family: 'Bangers';
font-weight: 400;
letter-spacing: 2px;

}

.btn__record {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 20px;
  background-color: rgb(43, 43, 133);
  color: white;
  font-family:'Roboto';
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.7em;
  border-radius: 5px;
  border: none;
  text-decoration: none;
}

.btn__record:hover {
  background-color: rgb(202, 41, 148);
  box-shadow:5px 5px 5px rgb(128, 124, 124);
}



  @media screen and (min-width: 500px) {

    h1 {
      padding-top: 5px;
      font-size: 2em;
      }

      button {
        font-size: 1.5em;
      }
  
  
  
  }


  @media screen and (min-width: 800px) {

    .hero_container {
 
      flex-direction: row;
 
      padding-bottom: 50px;
      
     }
    h1 {
      padding-top: 5px;
      font-size: 3em;
      }
  
      button {
        font-size: 2em;
        
      }
  
  }




